# Imports

In [1]:
# Imports
import numpy as np
import pandas as pd

# Load the Data

In [2]:
# Load the data
df = pd.read_csv('data/sales.csv')
df.head()

,Area Code,State,Market,Market Size,Profit,Margin,Sales,COGS,Total Expenses,Marketing,Inventory,Budget Profit,Budget COGS,Budget Margin,Budget Sales,ProductId,Date,Product Type,Product,Type
0,203,Connecticut,East,Small Market,107.0,176.0,292.0,116.0,69.0,38.0,962.0,110.0,110.0,160.0,270.0,2,04/01/10 00:00:00,Coffee,Columbian,Regular
1,203,Connecticut,East,Small Market,75.0,135.0,225.0,90.0,60.0,29.0,1148.0,90.0,80.0,130.0,210.0,2,07/01/10 00:00:00,Coffee,Columbian,Regular
2,203,Connecticut,East,Small Market,122.0,195.0,325.0,130.0,73.0,42.0,1134.0,130.0,110.0,180.0,290.0,2,11/01/10 00:00:00,Coffee,Columbian,Regular
3,203,Connecticut,East,Small Market,105.0,174.0,289.0,115.0,69.0,37.0,1166.0,110.0,100.0,160.0,260.0,2,12/01/10 00:00:00,Coffee,Columbian,Regular
4,203,Connecticut,East,Small Market,104.0,135.0,223.0,90.0,56.0,29.0,1148.0,90.0,80.0,130.0,210.0,2,07/01/11 00:00:00,Coffee,Columbian,Regular

In [3]:
# Get more info on the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4248 entries, 0 to 4247
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Area Code       4248 non-null   int64
 1   State           4248 non-null   object
 2   Market          4248 non-null   object
 3   Market Size     4248 non-null   object
 4   Profit          4248 non-null   float64
 5   Margin          4248 non-null   float64
 6   Sales           4248 non-null   float64
 7   COGS            4248 non-null   float64
 8   Total Expenses  4248 non-null   float64
 9   Marketing       4248 non-null   float64
 10  Inventory       4248 non-null   float64
 11  Budget Profit   4248 non-null   float64
 12  Budget COGS     4248 non-null   float64
 13  Budget Margin   4248 non-null   float64
 14  Budget Sales    4248 non-null   float64
 15  ProductId       4248 non-null   int64
 16  Date            4248 non-null   object
 17  Product Type    4248 non-null   object
 18  Product         4248 non-null   object
 19  Type            4248 non-null   object
dtypes: float64(11), int64(2), object(7)
memory usage: 663.9+ KB

In [22]:
# Get the dimensions of the data frame
df.shape

(4248, 20)

# Data Cleaning

In [5]:
# Check for duplicates
print('There are', df.duplicated().sum(), 'duplicates.')

There are 0 duplicates.

In [6]:
# Check for missing values
print('There are', df.isna().sum().sum(), 'missing values.')

There are 0 missing values.

In [28]:
# Check the labels
cat_cols = df.select_dtypes('object').columns

for col in cat_cols:
    print('The labels for the', col, 'column.')
    print(df[col].value_counts())
    print()

The labels for the State column.
Utah             288
California       288
Colorado         264
Oregon           264
Nevada           264
Washington       240
Ohio             216
Illinois         216
Florida          216
Wisconsin        216
Missouri         216
Iowa             216
New York         192
Louisiana        168
Oklahoma         168
Texas            168
New Mexico       168
New Hampshire    168
Connecticut      168
Massachusetts    144
Name: State, dtype: int64

The labels for the Market column.
West       1344
Central    1344
East        888
South       672
Name: Market, dtype: int64

The labels for the Market Size column.
Small Market    2544
Major Market    1704
Name: Market Size, dtype: int64

The labels for the Date column.
04/01/10 00:00:00    177
07/01/10 00:00:00    177
06/01/11 00:00:00    177
09/01/10 00:00:00    177
03/01/10 00:00:00    177
08/01/10 00:00:00    177
05/01/10 00:00:00    177
02/01/10 00:00:00    177
12/01/11 00:00:00    177
05/01/11 00:00:00    177
04/01/11 00:00:00    177
03/01/11 00:00:00    177
02/01/11 00:00:00    177
01/01/11 00:00:00    177
10/01/10 00:00:00    177
06/01/10 00:00:00    177
11/01/11 00:00:00    177
10/01/11 00:00:00    177
09/01/11 00:00:00    177
08/01/11 00:00:00    177
07/01/11 00:00:00    177
12/01/10 00:00:00    177
11/01/10 00:00:00    177
01/01/10 00:00:00    177
Name: Date, dtype: int64

The labels for the Product Type column.
Espresso      1176
Coffee        1056
Herbal Tea    1056
Tea            960
Name: Product Type, dtype: int64

The labels for the Product column.
Columbian            480
Caffe Mocha          480
Lemon                480
Decaf Espresso       408
Darjeeling           384
Decaf Irish Cream    384
Chamomile            384
Green Tea            288
Earl Grey            288
Caffe Latte          216
Mint                 192
Amaretto             192
Regular Espresso      72
Name: Product, dtype: int64

The labels for the Type column.
Regular    2400
Decaf      1848
Name: Type, dtype: int64